.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
    border-color: #D4313C;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none;
    border-color: $teal;
}

.contact-form {
    input {
        font-size: 2.3rem;
        line-height: 1.14;
        @include media-breakpoint-up(md) {
            padding: 1.6rem; 
        }
        
        @include media-breakpoint-up(lg) {
            font-size: 2.8rem;            
        }
        @include placeholder {
            font-style: italic;
        }
    }
}