.content-with-image-a01 {
    h2 {
        font-size: 3.5rem;
    }
    &__icon {
        height: 68px;
        width: 68px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        cursor: pointer;
        
        &:hover {
            opacity: 0.8;
        }
    }
    
    &__video-title {
        line-height: 1.222;
    }
}

.fz-18 {
    font-size: 1.8rem;
}

.drop-shadow {
    filter: drop-shadow(8px 8px 0px #F5CEBE);
}
